/*** GENERAL RULES ***/
a {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

main i {
    color: #0069ff;
    font-size: 35px;
    margin-bottom: 10px;
}

h4 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
}

main p {
    color: rgba(3,27,78,.7);
    font-size: 16px;
    margin-bottom: 30px;
}

.description {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 80px !important;
}


header {
    font-family: Sailec-Medium,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*** MOBILE MENU ***/

#logo-mobile {
    margin-left: 15px;
    width: 100px;
    transform: translateY(10%);
    height: 50px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    background-color: hsla(0,0%,100%,.5);
    display: block;
    width: 27px;
    height: 5px;
    border-radius: 1px;
}

/*** DESKTOP MENU ***/

/*** FIRST PART OF THE HEADER ***/

#header-top {
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #e5e8ed;
    padding: 0 30px;
    background-color: white;
}

#header-top a, #header-top ul {
    line-height: 40px;
    color: #5b6987;
    text-decoration: none;
}

#header-top ul li {
    margin-left: 25px;
    cursor: pointer;
}

#header-top span {
    color: black;
    font-weight: 500;
    background-color: #00d7d2;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 10px;
}

#header-top a:hover {
    text-decoration: none;
    color:#0069ff;
}

/*** SECOND PART OF THE HEADER ***/

#logo {
    height: 30px;
    transform: translateY(50%);
}

#header-bottom {
    border-bottom: 1px solid #e5e8ed;
    padding: 0 30px;
    background-color: white;
}

#header-bottom ul li a {
    color: #031b4e;
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
    line-height: 65px;
}

#header-bottom li:nth-of-type(4n+1) a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: grey;
    margin-left: 5px;
}

#header-bottom a:hover {
    text-decoration: none;
    color:#0069ff;
}

#header-bottom button {
    transform: translateY(50%);
    background-color: transparent;
    border: 1px solid #0069ff;
    color: #0069ff;
    border-radius: 5px;
    font-weight: 500;
}

#header-bottom button:hover {
    background-color: #0069ff;
    border: 1px solid #0069ff;
    color: white;
    transition: .2s ease-in;
}

/*** JUMBOTRON ***/

#jumbo {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 50px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

#jumbo p {
    color: #fff;
    font-size: 24px;
    opacity: .8;
    line-height: 40px;
}

.my-jumbo-text {
    padding: 50px 30px;
}

#my-form {
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
}

#my-form h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}

#my-form input {
    height: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}

#new-account {
    font-weight: 600;
    background-color: #0069ff;
}

#my-form button {
    position: relative;
}

#my-form button img {
    height: 18px;
    position: absolute;
}

#my-form span {
    color: #5b6987;
}

.my-separator {
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 24px;
}

.my-separator::before,
.my-separator::after {
    content: '';
    display: inline-block;
    width: 37%;
    height: 1px;
    position: absolute;
    top: 10px;
    background-color: lightgrey;
}

.my-separator::before {
    left: 0;
}

.my-separator::after {
    right: 0;
}

.terms {
    padding-top: 20px;
}

#my-form a {
    text-decoration: underline;
    color: #0069ff;
}

/*** SECTION SPORSORS ***/

#sponsors {
    background-color: #f3f5f9;
    padding: 60px 0;
}

#sponsors p {
    color: grey;
    font-size: 17px;
}

#sponsors img {
    object-fit: contain;
    height: 79px;
    margin-bottom: 20px;

}

#splunk {
    width: 140px;
}

#sponsors a {
    color: #0069ff;
    font-weight: 500;
    font-size: 17px;
}

#sponsors a:hover {
    text-decoration: none;
}

#sponsors i {
    font-size: 11px;
    margin-left: 5px;
}

/*** FIRST MAIN CONTENT ***/

#deploy {
    padding: 100px 0 70px 0;
}

#deploy ul {
    margin-bottom: 20px;
}

#deploy li:first-child {
    color: black;
    border-left: 2px solid #0069ff;
}

#deploy li {
    border-left: 2px solid #e5e8ed;
    padding: 17px 10px 17px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #e5e8ed;
    cursor: pointer;
}

#deploy li:hover {
    color: black;
}

/*** SECOND MAIN CONTENT ***/

#for-developers {
    background-color: #f3f5f9;
    padding: 100px 0 70px 0;
}

#for-developers img {
    margin-bottom: 30px;
    position: relative;
}

#for-developers img::before {
    content: "\f053";
    font-family: "FontAwesome";
    color: red;
    height: 20px;
    position: absolute;
}

#for-developers img::after {
    content: "\f053";
    font-family: "FontAwesome";
    display: inline-block;
    width: 20px;
    color: red;
    height: 20px;
    position: absolute;
}

/*** THIRD MAIN CONTENT ***/

#business {
    padding: 90px 0 70px 0;
}

#business .fa-dharmachakra {
    padding-top: 30px;
}

#business h2 {
    margin-bottom: 50px;
}

#business p {
    padding: 0 13px 0 0;
    font-size: 17px;
}

#business a {
    color: #0069ff;
    font-weight: 600;
}

#business a:hover {
    text-decoration: none;
}

#business a>i {
    font-size: 11px;
    margin-left: 5px;
}

#business .col-xs-12 {
    height: 250px;
}

/*** FOURTH MAIN CONTENT ***/

#around-the-world {
    background: #031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 70px 0;
    color: white;
}

/*** FIFTH MAIN CONTENT ***/

#development {
    background-color: #f3f5f9;
    padding: 100px 0 70px 0;
}

#development a {
    color: #0069ff;
    text-decoration: underline;
}

/*** GET STARTED ***/

#get-started {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    padding: 50px 0;
    color: white;
}

#get-started button {
    color: #0069ff;
    padding: 13px 40px;
    font-size: 17px;
    font-weight: 600;
}

/*** FOOTER ***/

footer {
    background-color: #010e28;;
    padding: 50px 0;
    color: white;
}

footer li a {
    color: grey;
    line-height: 28px;
    font-size: 15px;
}

footer li a:hover {
    color: white;
    text-decoration: none;
}

#copyright {
    border-top: 1px solid grey;
    margin-top: 40px;
    padding-top: 30px;
    line-height: 45px;
    color: grey;
}

#copyright img {
    width: 50px;
}

#copyright small {
    margin-left: -15px;
}

#copyright i {
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    color: grey;
}

.navbar-header {
    background-color: #0248ff;
}

/*** MY MEDIA QUERY ***/



@media screen and (min-width: 768px) and (max-width: 1047px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-header, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

@media screen and (min-width: 1048px) {
    .navbar-collapse {
        display: block;
        height: auto;
        padding-bottom: 0;
        overflow: visible;
    }
}
